body {
    margin: 0px;
    padding: 0;
    width: 1520px;
    height: 820px;
    background-color: rgb(0, 0, 0);
}

a,span,b,div {
    font-family: Arial, Helvetica, sans-serif;
}


/*p1*/
.p1 {
    width: 1520px;
    height: 180px;
    background-color: #000023;
    
    background-size: 100%;
    background-repeat: no-repeat;
    
}

    .logo {
        width: 180px;
        height: 180px;
       
        
    }
    .p1 a {
        color: white;
        text-decoration: none;
    }
    .logodangky {
        position: absolute;
        top: 80px;
        left: 500px;
        font-size: 40px;
        color: white;
    }

        .hotro {
            left: 80%;
            position: absolute;
            top: 160px;
            font-size: 10px;
        }

        .p1 a:hover {
            color: #01dafe;
        }
/*endp1*/

/*p2*/
.p2 {
    width: 1520px;
    height: 640px;
    background-color: aqua;
    background-image: url("../LOGO/68351739-juegos-y-tecnología-web-patrón-transparente-backgound-ilustración-del-vector-del-doodle-con-los-disp.webp");
    background-size: 100% ; 
}


.formdangky {
    width: 40% ;
    height: 600px;
    background-color: #061b46;
    
    position: absolute;
    left: 456px;
    top: 200px;
}

.logodk {
    color: white;
    font-size: 20px;
    position: relative;
    top: 10px;
    left: 200px;
    font-size: 40px;
}

.indangky ul {
    list-style-type: none;
    padding: 0;
    color: white;
}
.indangky li {
    position: relative;
    margin-bottom: 20px;
    left: 40px;
}
#tk {
    width: 200px;
    height: 20px;
    border-radius: 5px;
    background-color: rgb(195, 195, 195);
}


.bodermk {
    width: 240px;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(195, 195, 195);
    float: left;
}
#mk,#nnmk {
    width: 200px;
    height: 20px;
    border-radius: 5px;
    background-color: rgb(195, 195, 195);
    outline: none;
    border: none;
    float: left;
}

.icon {
    float: right;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    

}

#on,#onn {
    display: none;
}
#of,#off {
    display: block;
}

.button {
    width: 50%;
    height: 30px;
    background-color: rgb(195, 195, 195);
    position: relative;
    left: 25%;
    border-radius: 8px;

}

.ht {
    float: right;
    background-color: rgb(0, 0, 0);
    opacity: 0.4;
    left: 95%;
    top: 95%;
    position: fixed;
    width: 40px;
    height: 20px;
   
}